<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body class="main">
<!--/*@thymesVar id="user" type="ru.matthew.MyShop.model.User"*/-->
<div class="auth-container">
    <form action="/auth/signin" method="post" class="register-form">
        <h2 class="register-form-header">SIGN IN</h2>
        <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">
        <label>
            Email
            <input required type="text" class="text-input" name="email">
        </label>
        <label>
            Пароль
            <input required type="password" class="text-input" name="password">
        </label>
        <input type="submit" value="Войти">
    </form>
    <a href="/auth/atm/signin">ATM</a>
</div>
</body>
</html>