<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все объявления</title>

    <link rel="stylesheet" type="text/css" th:href="@{/style_fragment.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/advertisments.css}">
</head>
<body>
    <div th:replace="footer :: defaultHeader"></div>

    <div class="container">
        <aside class="sidebar">
            <h2>Фильтры</h2>
            <!-- Раздел с фильтрами -->

<!--            <form action="/advertisments/index" method="get">-->
<!--                Поиск по названию объявления: <input type="text" name="title"><br>-->
<!--                <input type="submit" value="Поиск"/>-->
<!--            </form>-->
<!--            &lt;!&ndash;/*@thymesVar id="user" type="ru.matthew.MyShop.models.User"*/&ndash;&gt;-->
<!--            <h3 th:text="${'Пользователь ' + user.getName() + ' ' + user.getSecondName}"></h3>-->



            <div class="filter-block">
                <form action="/advertisments/index" method="GET">
                    <div class="form-group">
                        <label for="title">Название:</label>
                        <input type="text" id="title" name="title" placeholder="Введите название">
                    </div>

                    <div class="form-group">
                        <label for="category">Категория:</label>
                        <select id="category" name="category">
                            <option value="" disabled selected>Любая</option>
                            <option th:each="categoryOpt : ${T(ru.matthew.MyShop.models.Category).values()}"
                                    th:value="${categoryOpt}" th:text="${categoryOpt.getRuValue}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="city">Город:</label>
                        <select id="city" name="city">
                            <option value="" disabled selected>Любой</option>
                            <option th:each="cityOpt : ${T(ru.matthew.MyShop.models.City).values()}"
                                    th:value="${cityOpt}" th:text="${cityOpt.getRuValue}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="state">Качество:</label>
                        <select id="state" name="state">
                            <option value="" disabled selected>Любое</option>
                            <option th:each="stateOpt : ${T(ru.matthew.MyShop.models.State).values()}"
                                    th:value="${stateOpt}" th:text="${stateOpt.getRuValue}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="price_from">Цена от:</label>
                        <input type="text" id="price_from" name="price_from" placeholder="0">
                    </div>

                    <div class="form-group">
                        <label for="price_to">Цена до:</label>
                        <input type="text" id="price_to" name="price_to" placeholder="10000">
                    </div>

                    <div class="form-group">
                        <button type="submit">Применить фильтры</button>
                    </div>
                </form>
            </div>

        </aside>

        <main class="content">
            <h1>Товары</h1>
            <div class="product-list">

                <!--/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.Advertisment"*/-->
                <div class="product-item" th:each="advertisment : ${advertisments}">
                    <div class="img-container">
                        <img src="https://via.placeholder.com/150" alt="Product 1">
                    </div>
                    <p class="price" th:text="${advertisment.getPrice() + ' р.'}">Цена</p>
                    <a th:text="${advertisment.getName()}" th:href="@{/advertisments/{id}(id=${advertisment.getId()})}">Товар</a>
                    <p th:text="${advertisment.getDescription()}">Описание</p>
                    <p th:text="${advertisment.getDateOfPublishing()}">Дата</p>
                    <p class="stars" th:if="${advertisment.getRating() == 1}">&#9733;&#9734;&#9734;&#9734;&#9734;</p>
                    <p class="stars" th:if="${advertisment.getRating() == 2}">&#9733;&#9733;&#9734;&#9734;&#9734;</p>
                    <p class="stars" th:if="${advertisment.getRating() == 3}">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                    <p class="stars" th:if="${advertisment.getRating() == 4}">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <p class="stars" th:if="${advertisment.getRating() == 5}">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                    <p th:if="${advertisment.getRating() == 0}">Нет рейтинга</p>



<!--                    <a th:href="@{/advertisments/{id}(id=${advertisment.getId()})}"-->
<!--                       th:text="${advertisment.getName() + ', ' + advertisment.getDateOfPublishing() + '  Оценка '+ advertisment.getRating() + '   Всего оценок' + advertisment.getReviews().size() }">advertisment</a>-->





                </div>


                <!-- Дополнительные товары -->
            </div>
        </main>
    </div>

















<!--                    &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--                    -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;СТАРЫЙ БЛОК ВЫВОДА-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--                    &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<form action="/advertisments/index" method="get">-->
<!--    Поиск по названию объявления: <input type="text" name="title"><br>-->
<!--    <input type="submit" value="Поиск"/>-->
<!--</form>-->
<!--&lt;!&ndash;/*@thymesVar id="user" type="ru.matthew.MyShop.models.User"*/&ndash;&gt;-->
<!--<h3 th:text="${'Пользователь ' + user.getName() + ' ' + user.getSecondName}"></h3>-->

<!--&lt;!&ndash;/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.Advertisment"*/&ndash;&gt;-->
<!--<div th:each="advertisment : ${advertisments}">-->
<!--    <a th:href="@{/advertisments/{id}(id=${advertisment.getId()})}"-->
<!--       th:text="${advertisment.getName() + ', ' + advertisment.getDateOfPublishing() + '  Оценка '+ advertisment.getRating() + '   Всего оценок' + advertisment.getReviews().size() }">advertisment</a>-->
<!--    <hr/>-->
<!--</div>-->
<!--<div th:if="${advertisments == null}"> Нету </div>-->
<!--<br/>-->

<!--<a href="/advertisments/new">Create new advertisment</a>-->

<!--<form action="/advertisments/index/{id}()" method="post">-->
<!--    <input type="hidden" th:name="${_csrf.getParameterName()}" th:value="${_csrf.token}">-->
<!--    <input type="submit" value="Выйти" style="background: none; border: none; color: white; cursor: pointer;">-->
<!--</form>-->


<div th:replace="footer :: defaultFooter"></div>
</body>
</html>