<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<!--/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.Advertisment"*/-->
<p th:text="${advertisment.getName()}">VALUE</p>
<p th:text="${advertisment.getDescription()}">VALUE</p>
<p th:text="${advertisment.getCity().getRuValue()}">VALUE</p>
<p th:text="${advertisment.getDateOfPublishing()}">VALUE</p>
<p th:text="${advertisment.getPayment().getRuValue()}">VALUE</p>
<p th:text="${'ID: ' + advertisment.getId()}">VALUE</p>

<a th:href="@{/advertisments/{id}/edit(id=${advertisment.getId()})}">Edit</a>
<br/>
<!--/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.User"*/-->
<a th:href="@{/users/{id}(id=${user.getId()})}"
   th:text="${user.getName()}">user</a>
<br/>

<form th:method="GET" th:action="@{/advertisments/{id}/delete(id=${advertisment.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/><br/><br/>
<h2>Отзывы:</h2>
<!--/*@thymesVar id="review" type="ru.matthew.MyShop.models.Review"*/-->
<form th:method="POST" th:action="@{/advertisments/{advertismentId}/newReview(advertismentId = ${advertisment.getId()})}" th:object="${newReview}">
    <input type="hidden" th:field="*{id}" th:value="null">
    <label for="rating">Enter rating: </label>
    <input type="text" th:field="*{rating}" id="rating"/>
    <div style="color:red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">rating Error</div>
    <br/>

    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<hr/>

<!--/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.Advertisment"*/-->
<div class="review-block" th:each="review : ${advertisment.getReviews()}">
    <div class="stars">
        <p class="stars" th:if="${review.getRating() == 1}">&#9733;&#9734;&#9734;&#9734;&#9734;</p>
        <p class="stars" th:if="${review.getRating() == 2}">&#9733;&#9733;&#9734;&#9734;&#9734;</p>
        <p class="stars" th:if="${review.getRating() == 3}">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
        <p class="stars" th:if="${review.getRating() == 4}">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
        <p class="stars" th:if="${review.getRating() == 5}">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
    </div>
    <p th:text="${review.getDescription()}">Описание отзыва</p>
    <p class="author" th:text="|Автор: ${review.getUser().getName()}|">Автор</p>
    <p>TODO ссылка для админа</p>
</div>


<hr/>
<div th:if="${advertisment.getReviews().isEmpty()}"> Нет отзывов</div>

<!--<form th:method="GET" th:action="@{/advertisments/{id}/ban(id=${advertisment.getId()})}">-->
<!--    <input type="submit" value="Ban"/>-->
<!--</form>-->

</body>
</html>