<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style_fragment.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style_show.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/test.css}">
</head>
<body>
<div th:replace="footer :: defaultHeader"></div>

    <!--/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.Advertisment"*/-->
    <div class="container">
        <h1 class="product-title" th:text="${advertisment.getName()}">Название объявления</h1>

        <div class="slider-container">
            <div class="slider">
                <img th:src="${advertisment.getMainImagePath()}" alt="Белый пушистый кот">
                <img th:src="${advertisment.getSecondImagePath()}" alt="Рыжий пушистый кот в джинсах">
                <img th:src="${advertisment.getThirdImagePath()}" alt="Бело-рыжий пушистый кот">
            </div>
            <button class="prev-button" aria-label="Посмотреть предыдущий слайд">&lt;</button>
            <button class="next-button" aria-label="Посмотреть следующий слайд">&gt</button>
        </div>

        <p class="product-author"><strong>Автор:</strong> <a th:text="${advertisment.getOwner().getSecondName() + ' ' + advertisment.getOwner().getName()}" th:href="@{/users/{id}(id=${advertisment.getOwner().getId()})}">ФИО</a></p>
        <div class="product-details">
            <p class="product-description" th:text="${advertisment.getDescription()}">Описание</p>
            <p class="product-quality" th:text="${'Качество: ' + advertisment.getState().getRuValue()}">Качество</p>
            <p class="product-location" th:text="${'Качество: ' + advertisment.getCity().getRuValue()}">Город</p>
            <p class="product-price" th:text="${'Цена: ' + advertisment.getPrice()+ ' р.'}"></p>
        </div>
        <p class="rating" th:if="${advertisment.getRating() == 1}">Рейтинг: &#9733;&#9734;&#9734;&#9734;&#9734;</p>
        <p class="rating" th:if="${advertisment.getRating() == 2}">Рейтинг: &#9733;&#9733;&#9734;&#9734;&#9734;</p>
        <p class="rating" th:if="${advertisment.getRating() == 3}">Рейтинг: &#9733;&#9733;&#9733;&#9734;&#9734;</p>
        <p class="rating" th:if="${advertisment.getRating() == 4}">Рейтинг: &#9733;&#9733;&#9733;&#9733;&#9734;</p>
        <p class="rating" th:if="${advertisment.getRating() == 5}">Рейтинг: &#9733;&#9733;&#9733;&#9733;&#9733;</p>
        <p class="rating" th:if="${advertisment.getRating() == 0}">Нет рейтинга</p>

        <form th:method="GET" th:action="@{/advertisments/{id}/tobasket(id=${advertisment.getId()})}" sec:authorize="isAuthenticated()">
            <input class="add-to-cart" type="submit" value="Добавить в корзину"/>
        </form>

        <div class="reviews">
            <h2 th:text="${'Отзывы покупателей (' + advertisment.getReviews().size() +'):'}">Отзывы покупателей:</h2>
            <div class="review" th:each="review : ${advertisment.getReviews()}">
                <p><strong>Автор:</strong> <a th:text="${review.getUser().getSecondName() + ' ' + review.getUser().getName()}" th:href="@{/users/{id}(id=${review.getUser().getId()})}">ФИО автора отзыва</a></p>
                <div class="stars">
                    <p class="stars" th:if="${review.getRating() == 1}">&#9733;&#9734;&#9734;&#9734;&#9734;</p>
                    <p class="stars" th:if="${review.getRating() == 2}">&#9733;&#9733;&#9734;&#9734;&#9734;</p>
                    <p class="stars" th:if="${review.getRating() == 3}">&#9733;&#9733;&#9733;&#9734;&#9734;</p>
                    <p class="stars" th:if="${review.getRating() == 4}">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <p class="stars" th:if="${review.getRating() == 5}">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                </div>
                <p th:text="${review.getDescription()}">Описание</p>
            </div>

        </div>

    </div>

    <!--/*@thymesVar id="newReview" type="ru.matthew.MyShop.models.Review"*/-->
    <form th:method="POST" th:action="@{/advertisments/{advertismentId}/newReview(advertismentId = ${advertisment.getId()})}" th:object="${newReview}">
        <input type="hidden" th:field="*{id}" th:value="null">
        <label for="rating">Рейтинг: </label>
        <input type="text" th:field="*{rating}" id="rating"/>
        <div style="color:red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">rating Error</div>
        <br/>

        <label for="description">Описание: </label>
        <input type="text" th:field="*{description}" id="description"/>
        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
        <br/>
        <input type="submit" value="Create!"/>
    </form>












<!--    <p th:text="${advertisment.getName()}">VALUE</p>-->
<!--    <p th:text="${advertisment.getDescription()}">VALUE</p>-->
<!--    <p th:text="${advertisment.getCity().getRuValue()}">VALUE</p>-->
<!--    <p th:text="${advertisment.getDateOfPublishing()}">VALUE</p>-->
<!--    <p th:text="${advertisment.getPayment().getRuValue()}">VALUE</p>-->
<!--    <p th:text="${'ID: ' + advertisment.getId()}">VALUE</p>-->

<!--    <a th:href="@{/advertisments/{id}/edit(id=${advertisment.getId()})}">Edit</a>-->
<!--    <br/>-->
<!--    &lt;!&ndash;/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.User"*/&ndash;&gt;-->
<!--    <a th:href="@{/users/{id}(id=${user.getId()})}"-->
<!--       th:text="${user.getName()}">user</a>-->
<!--    <br/>-->

<!--    <form th:method="GET" th:action="@{/advertisments/{id}/delete(id=${advertisment.getId()})}">-->
<!--        <input type="submit" value="Delete"/>-->
<!--    </form>-->

<!--    <br/><br/><br/>-->
<!--    <h2>Отзывы:</h2>-->
<!--    &lt;!&ndash;/*@thymesVar id="review" type="ru.matthew.MyShop.models.Review"*/&ndash;&gt;-->
<!--    <form th:method="POST" th:action="@{/advertisments/{advertismentId}/newReview(advertismentId = ${advertisment.getId()})}" th:object="${newReview}">-->
<!--        <input type="hidden" th:field="*{id}" th:value="null">-->
<!--        <label for="rating">Enter rating: </label>-->
<!--        <input type="text" th:field="*{rating}" id="rating"/>-->
<!--        <div style="color:red" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">rating Error</div>-->
<!--        <br/>-->

<!--        <label for="description">Enter description: </label>-->
<!--        <input type="text" th:field="*{description}" id="description"/>-->
<!--        <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>-->
<!--        <br/>-->
<!--        <input type="submit" value="Create!"/>-->
<!--    </form>-->
<!--    <hr/>-->

<!--    &lt;!&ndash;/*@thymesVar id="advertisment" type="ru.matthew.MyShop.models.Advertisment"*/&ndash;&gt;-->
<!--    <div class="review-block" th:each="review : ${advertisment.getReviews()}">-->
<!--        <div class="stars">-->
<!--            <p class="stars" th:if="${review.getRating() == 1}">&#9733;&#9734;&#9734;&#9734;&#9734;</p>-->
<!--            <p class="stars" th:if="${review.getRating() == 2}">&#9733;&#9733;&#9734;&#9734;&#9734;</p>-->
<!--            <p class="stars" th:if="${review.getRating() == 3}">&#9733;&#9733;&#9733;&#9734;&#9734;</p>-->
<!--            <p class="stars" th:if="${review.getRating() == 4}">&#9733;&#9733;&#9733;&#9733;&#9734;</p>-->
<!--            <p class="stars" th:if="${review.getRating() == 5}">&#9733;&#9733;&#9733;&#9733;&#9733;</p>-->
<!--        </div>-->
<!--        <p th:text="${review.getDescription()}">Описание отзыва</p>-->
<!--        <p class="author" th:text="|Автор: ${review.getUser().getName()}|">Автор</p>-->
<!--        <p>TODO ссылка для админа</p>-->
<!--    </div>-->


<!--    <hr/>-->
<!--    <div th:if="${advertisment.getReviews().isEmpty()}"> Нет отзывов</div>-->

<!--<form th:method="GET" th:action="@{/advertisments/{id}/ban(id=${advertisment.getId()})}">-->
<!--    <input type="submit" value="Ban"/>-->
<!--</form>-->




<div th:replace="footer :: defaultFooter"></div>
<script>
    const slider = document.querySelector('.slider');
    const prevButton = document.querySelector('.prev-button');
    const nextButton = document.querySelector('.next-button');
    const slides = Array.from(slider.querySelectorAll('img'));
    const slideCount = slides.length;
    let slideIndex = 0;

    // Устанавливаем обработчики событий для кнопок
    prevButton.addEventListener('click', showPreviousSlide);
    nextButton.addEventListener('click', showNextSlide);

    // Функция для показа предыдущего слайда
    function showPreviousSlide() {
        slideIndex = (slideIndex - 1 + slideCount) % slideCount;
        updateSlider();
    }

    // Функция для показа следующего слайда
    function showNextSlide() {
        slideIndex = (slideIndex + 1) % slideCount;
        updateSlider();
    }

    // Функция для обновления отображения слайдера
    function updateSlider() {
        slides.forEach((slide, index) => {
            if (index === slideIndex) {
                slide.style.display = 'block';
            } else {
                slide.style.display = 'none';
            }
        });
    }

    // Инициализация слайдера
    updateSlider();

</script>
</body>
</html>